* {
    margin: 0;
    padding: 0;
}
:root {
    --brandColor:#007AFF;
    --brandFontColor:#007AFF;
    --brandLightFontColor:#409CFF;
    --subText:hsla(240, 6%, 25%,.6);
}
.progress {
    /* position:fixed; */
    top:0;
    left:0;
    z-index:9999;
    width:100%;
    height:5px;
    
}
.bar {
    display: block;
    width:0;
    height: inherit;
    background:linear-gradient(315deg, var(--brandColor), #0A84FF);
    border-radius: 8px;
}
h1 {
    font-size: 34px;
    line-height:41px;
}
.greySVG {
    fill:var(--subText)
}
a,button {
    all:unset;
    cursor: pointer;
}
b {
    color: var(--brandFontColor)
}
strong {
    color:var(--brandLightFontColor)
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 30px;
}

.sub {
    color:hsla(240, 6%, 25%,.6)
}
header {
    width:100%;
    box-sizing: border-box;
    position: sticky;
    top:0;
    z-index:999999;
    background-color: #fff;
}
div.headerBlock {
    margin: 0 auto;
    max-width: 1200px;
    width: calc(100% - 32px);
}
.logo > img {
    width:auto;
    height:48px;
}

@media (min-width: 700px) {
    button.burgerNav {
        display: none;
    } 
    div.headerBlock {
        display: flex;
        align-items: center;
        height: 60px;
    }
    nav {
        margin-left:auto;
        overflow-x: hidden;
    }
    nav > ul {
        list-style: none;
        display: flex;
        gap:32px;
    }
    nav > ul > li {
        color:var(--subText)
    }
    nav > ul > li:hover {
        color:var(--brandColor)
    }
}
@media (max-width: 700px) {
    button.burgerNav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        width:48px;
        height:48px;
        border-radius: 16px;
        background-color: var(--brandColor);
        color:var(--brandColor)
    }
    button.burgerNav > svg {
        fill:#fff
    }
    div.headerBlock {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        min-height: 60px;
    }
    .object {width:100%; }
    .main-object1 { width: 50%; height:60px;display: flex; align-items: center; }
    .main-object2 { width: 50%; height:60px;display: flex; align-items: center; }
    nav {
        margin:16px 0;
        display: none;
        overflow-x: hidden;
    }
    nav > ul {
        text-align: center;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap:16px;
    }
    nav > ul > li {
        color:var(--subText)
    }
    nav > ul > li:hover {
        color:var(--brandColor)
    }
}
section.welcomePage {
    padding:80px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
div.welcomePageBlock {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap:24px;
}
@media (min-width: 700px) {
    div.welcomePageBlock > div > h1 {
        font-size: 60px;
        line-height: 72px;
    }
}
@media (max-width: 700px) {
    div.welcomePageBlock > div > h1 {
        font-size: 48px;
        line-height: 56px;
    }
}
div.welcomePageBlock > p {
    color:var(--subText);
}
div.welcomePageBlock > div.buttonAction {
    margin-top:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
}
.btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:12px 16px;
    font-size:14px;
    background-color: var(--brandColor);
    color:#fff;
    border-radius: 24px;
    font-weight: 500;
    gap:8px
}
.btn-2 > svg {
    width:16px;
    height:16px;
}
.btn-1 > svg {
    width:16px;
    height:16px;
}
.btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    padding:12px 16px;
    font-size:14px;
    border: 1px solid var(--subText);
    color:var(--subText);
    border-radius: 24px;
    font-weight: 500;
}
div.promoLineBlock {
    height:100px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.promoBlock {
    position: absolute;
    width: 110%;
    height:80px;
    background-color: var(--brandColor);
    transform: rotate(1deg);
}
div.promoBlock1 {
    position: absolute;
    width: 110%;
    height:80px;
    background-color: #1C1C1E;
    transform: rotate(-1deg);
    color:#fff;
}
div.promoBlock1 > ul {
    height: 100%;
    display: flex;
    align-items:center;
    /* justify-content: center; */
    list-style: none;
    gap:100px;
    font-size:30px
}
div.promoBlock1 > ul > li:nth-child(even) {
    color:var(--brandFontColor);
    font-weight: 500;
}
section.experienceStory {
    margin: 0 auto;
    max-width: 1100px;
    box-sizing: border-box;
    padding:100px 16px;
    width: 100%;
}
section.experienceStory > h1 {
    text-align: center;
}
section.experienceStory > p {
    margin:32px auto 0;
    text-align: center;
    color:var(--subText);
    max-width: 700px;
}
div.storyLineBlock {
    margin-top:64px;
}
div.storyLine {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}
div.storyText {
    display: flex;
    flex-direction: column;
    gap:8px;
    margin-bottom:32px;
}
div.storyText > img {
    margin: 0 auto;
    width:150px;
    height: auto;
}
div.storyText > p {
    color:var(--subText)
}
div.timeBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.circleStoryLine {
    display: flex;
    align-items: center;
    justify-content: center;
    width:36px;
    height:36px;
    border:1.5px dashed var(--subText);
    border-radius: 100%;
}

div.circleStoryBrand {
    width:24px;
    height:24px;
    border-radius: 100%;
    background-color: var(--brandColor);
}
div.circleStorySub {
    width:24px;
    height:24px;
    border-radius: 100%;
    background-color: var(--subText);
}
div.storyEnder {
    width: 0.01px;
    height:calc(100% - 37.5px);
    border-left:1.5px dashed var(--subText);
}
section.listRow {
    width:100%;
    min-height: 300px;
    background-color: #1C1C1E;
    padding:80px 16px;
    box-sizing: border-box;
}
div.listRowBlock {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: auto;
    color:#fff;
    display: flex;
    flex-direction: column;
    gap:32px;
}
div.listRowBlock > h1 {
    text-align: center;
}
div.listRowBlock > p {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    color:#D8D8DC
}

div.listRowBlockRow {
    margin-top:32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:32px;
}
div.listRowBlockContent:hover {
    background-color: var(--brandLightFontColor);
    cursor: pointer;
}
div.listRowBlockContent:hover div.listActionBlock {
    background-color: var(--brandLightFontColor);
    cursor: pointer;
}
div.listRowBlockContent {
    width:350px;
    height:400px;
    border-radius: 24px;
    background-color: #3A3A3C;
    color:#fff;
    margin: 0 auto;
}
div.listRowBlockContent > h2 {
    height: 60px;
    font-size:20px;
    margin: 24px;
    font-weight: normal;
}
div.listRowBlockContent > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #636366;
    margin: 1em 0;
    padding: 0;
}
div.listBlockRow {
    width: 100%;
    height:275px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.listBlock1 {
    position: absolute;
    bottom:0;
    width:80%;
    height:250px;
    background-color: hsla(240, 24%, 96%,.5);
    border-radius: 24px;
    margin-bottom:32px;
}
div.listBlock2 {
    position: absolute;
    bottom:0;
    width:90%;
    height:250px;
    background-color: hsla(240, 24%, 96%,.7);
    border-radius: 24px;
    margin-bottom:16px;
}
div.listBlock {
    position: absolute;
    bottom:0;
    width:100%;
    height:250px;
    background-color: #F2F2F7;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.listBlock > img {
    width: 97%;
    height: auto;
    border-radius: 16px;
}
div.listAction {
    position: absolute;
    bottom:0;
    right:0;
    width:120px;
    height:120px;
    background-color: #1C1C1E;
    border-radius: 80% 0% 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
div.listAction > div.listActionBlock {
    width:90px;
    height: 90px;
    background-color: #636366;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.mockup {
    width:100%;
    min-height: 300px;
    background-color: #fafafa;
    padding:100px 0;
}
section.mockup > h1 {
    margin: 0 auto;
    max-width: 700px;
    width: calc(100% - 32px);
    text-align: center;
    margin-bottom:32px;
}
section.mockup > p {
    margin: 0 auto;
    max-width: 700px;
    width: calc(100% - 32px);
    text-align: center;
    margin-bottom:64px;
    color:var(--subText)
}
div.mockupBlock {
    position: relative;
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
div.mockUpConsole {
    position: absolute;
    height: 300px;
    background-color: #000;
    top:0;
    max-width: 770px;
    width: 77%;
    height:90%;
    margin-top:8px;
    overflow:hidden;
    box-sizing: border-box;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.mockUpConsole > img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
div.mockupBlock > img {
    max-width: 1000px;
    width: 100%;
    width: 100%;
    height: auto;
}
/* Logo Scroller */
.logoMarqueeSection {
    width: 100%;
    padding:120px 0;
    text-align: center;
  }
  .logoMarqueeSection > h1 {
    max-width: 700px;
    width:calc(100% - 32px);
    margin:0 auto 32px;
  }
  .logoMarqueeSection > p {
    margin: 0 auto 64px;
    max-width: 700px;
    width:calc(100% - 32px);
    color:var(--subText);
  }
  marquee {
    top: 10px;
    left: 0%;
  }

  marquee > img {
    width: auto;
    height: 48px;
    margin: 0 32px;
  }
section.cite {
    padding:80px 0;
    width:100%;
    min-height:50px;
    background-color: #1C1C1E;
}
div.citeBlock {
    margin: 0 auto;
    max-width: 1000px;
    width: calc(100% - 32px);
    height: auto;
}
.blockquote-8 {
    position: relative;
    padding: 16px 24px;
    margin: 16px 46px;    
    font-size: 16px;
    text-align: center;
    color:#fff;
}
.blockquote-8:before,
.blockquote-8:after {
    position: absolute;
    color: var(--brandLightFontColor);
    font-size: 100px;
    font-family: Times, sans-serif;    
    line-height: 100px;    
}
.blockquote-8:before {
    content: '“';
    left: -30px;
    top: -10px;
}
.blockquote-8:after {
    content: '”';
    right: -30px;
    bottom: -10px;
}
.blockquote-8 cite {
    color: #D8D8DC;
    font-size: 15px;
    padding-top: 10px;
    display: block;
    font-weight: 500;
}
section.notes {
    width:100%;
    min-height: 300px;
    background-color: #1C1C1E;
}
div.notesBlock {
    margin: 0 auto;
    max-width: 1200px;
    width: calc(100% - 32px);
    padding:80px 0;
}
div.notesBlock > h1 {
    text-align: center;
    color:#fff;
    margin-bottom: 32px;
}
div.notesBlock > p {
    max-width: 700px;
    text-align: center;
    color:#D8D8DC;
    margin:0 auto 64px;
}
div.notesBlock> ul,li{
    list-style:none;
  }
div.notesBlock> ul{
    display: grid;
    gap:16px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
  }
  div.notesBlock >  ul li div{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    min-height:300px ;
    height:100%;
    width:100%;
    padding:2em;
    box-sizing: border-box;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
  }
  
  div.notesBlock > ul li:nth-child(even) div{
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  div.notesBlock > ul li:nth-child(3n) div{
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  div.notesBlock > ul li:nth-child(5n) div{
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  
  div.notesBlock > ul li div:hover,ul li div:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  
  div.notesBlock > ul li{
    margin:2em;
  }
  div.notesBlock > ul li p{
    margin-top:16px;
    font-size: 15px;
    line-height: 22px;
  }