* {
    margin: 0;
    padding: 0;
}
:root {
    --brandColor:#007AFF;
    --brandFontColor:#007AFF;
    --brandLightFontColor:#409CFF;
    --subText:hsla(240, 6%, 25%,.6);
}
.progress {
    /* position:fixed; */
    top:0;
    left:0;
    z-index:9999;
    width:100%;
    height:5px;
    
}
.bar {
    display: block;
    width:0;
    height: inherit;
    background:linear-gradient(315deg, var(--brandColor), #0A84FF);
    border-radius: 8px;
}
h1 {
    font-size: 34px;
    line-height:41px;
}
.greySVG {
    fill:var(--subText)
}
a,button {
    all:unset;
    cursor: pointer;
}
b {
    color: var(--brandFontColor)
}
strong {
    color:var(--brandLightFontColor)
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 30px;
}

.sub {
    color:hsla(240, 6%, 25%,.6)
}
header {
    width:100%;
    box-sizing: border-box;
    position: sticky;
    top:0;
    z-index:1;
    background-color: #fff;
}
div.headerBlock {
    margin: 0 auto;
    max-width: 1200px;
    width: calc(100% - 32px);
}
.logo > img {
    width:auto;
    height:48px;
}

@media (min-width: 700px) {
    button.burgerNav {
        display: none;
    } 
    div.headerBlock {
        display: flex;
        align-items: center;
        height: 60px;
    }
    nav {
        margin-left:auto;
        overflow-x: hidden;
    }
    nav > ul {
        list-style: none;
        display: flex;
        gap:32px;
    }
    nav > ul > li {
        color:var(--subText)
    }
    nav > ul > li:hover {
        color:var(--brandColor)
    }
}
@media (max-width: 700px) {
    button.burgerNav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        width:48px;
        height:48px;
        border-radius: 16px;
        background-color: var(--brandColor);
        color:var(--brandColor)
    }
    button.burgerNav > svg {
        fill:#fff
    }
    div.headerBlock {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        min-height: 60px;
    }
    .object {width:100%; }
    .main-object1 { width: 50%; height:60px;display: flex; align-items: center; }
    .main-object2 { width: 50%; height:60px;display: flex; align-items: center; }
    nav {
        margin:16px 0;
        display: none;
        overflow-x: hidden;
    }
    nav > ul {
        text-align: center;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap:16px;
    }
    nav > ul > li {
        color:var(--subText)
    }
    nav > ul > li:hover {
        color:var(--brandColor)
    }
}
section.welcomePage {
    padding:80px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
div.welcomePageBlock {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap:24px;
}
@media (min-width: 700px) {
    div.welcomePageBlock > div > h1 {
        font-size: 60px;
        line-height: 72px;
    }
}
@media (max-width: 700px) {
    div.welcomePageBlock > div > h1 {
        font-size: 48px;
        line-height: 56px;
    }
}
div.welcomePageBlock > p {
    color:var(--subText);
}
div.welcomePageBlock > div.buttonAction {
    margin-top:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
}
.btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:12px 16px;
    font-size:14px;
    background-color: var(--brandColor);
    color:#fff;
    border-radius: 24px;
    font-weight: 500;
    gap:8px
}
.btn-2 > svg {
    width:16px;
    height:16px;
}
.btn-1 > svg {
    width:16px;
    height:16px;
}
.btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    padding:12px 16px;
    font-size:14px;
    border: 1px solid var(--subText);
    color:var(--subText);
    border-radius: 24px;
    font-weight: 500;
}
div.promoLineBlock {
    height:100px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.promoBlock {
    position: absolute;
    width: 110%;
    height:80px;
    background-color: var(--brandColor);
    transform: rotate(1deg);
}
div.promoBlock1 {
    position: absolute;
    width: 110%;
    height:80px;
    background-color: #1C1C1E;
    transform: rotate(-1deg);
    color:#fff;
}
div.promoBlock1 > ul {
    height: 100%;
    display: flex;
    align-items:center;
    /* justify-content: center; */
    list-style: none;
    gap:100px;
    font-size:30px
}
div.promoBlock1 > ul > li:nth-child(even) {
    color:var(--brandFontColor);
    font-weight: 500;
}
section.experienceStory {
    margin: 0 auto;
    max-width: 1100px;
    box-sizing: border-box;
    padding:100px 16px;
    width: 100%;
}
section.experienceStory > h1 {
    text-align: center;
}
div.storyLineBlock {
    margin-top:64px;
}
div.storyLine {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}
div.storyText {
    display: flex;
    flex-direction: column;
    gap:8px;
    margin-bottom:32px;
}
div.storyText > p {
    color:var(--subText)
}
div.timeBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.circleStoryLine {
    display: flex;
    align-items: center;
    justify-content: center;
    width:36px;
    height:36px;
    border:1.5px dashed var(--subText);
    border-radius: 100%;
}

div.circleStoryBrand {
    width:24px;
    height:24px;
    border-radius: 100%;
    background-color: var(--brandColor);
}
div.circleStorySub {
    width:24px;
    height:24px;
    border-radius: 100%;
    background-color: var(--subText);
}
div.storyEnder {
    width: 0.01px;
    height:calc(100% - 37.5px);
    border-left:1.5px dashed var(--subText);
}
section.listRow {
    width:100%;
    min-height: 300px;
    background-color: #1C1C1E;
    padding:64px 16px;
    box-sizing: border-box;
}
div.listRowBlock {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: auto;
    color:#fff;
    display: flex;
    flex-direction: column;
    gap:32px;
}
div.listRowBlock > h1 {
    text-align: center;
}
div.listRowBlock > p {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    color:#D8D8DC
}

div.listRowBlockRow {
    margin-top:32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:32px;
}
div.listRowBlockContent:hover {
    background-color: var(--brandLightFontColor);
    cursor: pointer;
}
div.listRowBlockContent:hover div.listActionBlock {
    background-color: var(--brandLightFontColor);
    cursor: pointer;
}
div.listRowBlockContent {
    width:350px;
    height:400px;
    border-radius: 24px;
    background-color: #3A3A3C;
    color:#fff;
    margin: 0 auto;
}
div.listRowBlockContent > h2 {
    height: 60px;
    font-size:20px;
    margin: 24px;
    font-weight: normal;
}
div.listRowBlockContent > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #636366;
    margin: 1em 0;
    padding: 0;
}
div.listBlockRow {
    width: 100%;
    height:275px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.listBlock1 {
    position: absolute;
    bottom:0;
    width:80%;
    height:250px;
    background-color: hsla(240, 24%, 96%,.5);
    border-radius: 24px;
    margin-bottom:32px;
}
div.listBlock2 {
    position: absolute;
    bottom:0;
    width:90%;
    height:250px;
    background-color: hsla(240, 24%, 96%,.7);
    border-radius: 24px;
    margin-bottom:16px;
}
div.listBlock {
    position: absolute;
    bottom:0;
    width:100%;
    height:250px;
    background-color: #F2F2F7;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.listBlock > img {
    width: 97%;
    height: auto;
    border-radius: 16px;
}
div.listAction {
    position: absolute;
    bottom:0;
    right:0;
    width:120px;
    height:120px;
    background-color: #1C1C1E;
    border-radius: 80% 0% 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
div.listAction > div.listActionBlock {
    width:90px;
    height: 90px;
    background-color: #636366;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.mockup {
    width:100%;
    min-height: 300px;
    background-color: #fafafa;
    padding:100px 0;
}
div.mockupBlock {
    position: relative;
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
div.mockUpConsole {
    position: absolute;
    height: 300px;
    background-color: #000;
    top:0;
    max-width: 770px;
    width: 77%;
    height:88%;
    margin-top:8px;
    overflow-x: scroll;
    overflow-y: scroll;
    padding:16px;
    box-sizing: border-box;
}
div.mockUpConsole > p {
    color: #fff;
    font-family: "Courier";
    font-size: 16px;
    margin: 0.7vw 0 0 0.7vw;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    opacity: 0;
    animation: type 4s steps(60, end) forwards;
    -webkit-user-select: none;
    user-select: none;
  }
 div.mockUpConsole > p:nth-child(2) {
    animation-delay: 5s;
  }
div.mockUpConsole > p:nth-child(3) {
    animation-delay: 10s;
  }
div.mockUpConsole > p:nth-child(4) {
    animation-delay: 15s;
  }
div.mockUpConsole > p:nth-child(5) {
    animation-delay: 20s;
  }
div.mockUpConsole > p:nth-child(6) {
    animation-delay: 25s;
  }
div.mockUpConsole > p:nth-child(7) {
    animation-delay: 30s;
  }
  div.mockUpConsole > p:nth-child(8) {
    animation-delay: 35s;
  }
  div.mockUpConsole > p:nth-child(8) {
    animation-delay: 40s;
  }
  div.mockUpConsole > p:nth-child(9) {
    animation-delay: 45s;
  }
  div.mockUpConsole > p:nth-child(10) {
    animation-delay: 50s;
  }
  div.mockUpConsole > p:nth-child(11) {
    animation-delay: 55s;
  }
  div.mockUpConsole > p:nth-child(12) {
    animation-delay: 60s;
  }
div.mockUpConsole > p:nth-child(7) span:first-child {
    animation-duration: 0.8s;
  }
div.mockUpConsole > span {
    animation: blink 1.8s infinite 8s;
  }
div.mockUpConsole > p a {
    color: lime;
    text-decoration: none;
  }
@keyframes type {
    0% {
      opacity: 1;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
}
@keyframes blink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
div.mockUpConsole >  ::selection {
    background: black;
  }
div.mockupBlock > img {
    max-width: 1000px;
    width: 100%;
    width: 100%;
    height: auto;
}